/*
 * Globals
 */

body html{
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
}

.wrapper {
    height: auto;
    
}

.container {
     text-align: center;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: -10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width:100%;
    padding: 10px auto 0;

  }
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #002856;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    margin:0px auto 10px; 
}

.blog-nav {
    display: inline-block;
    margin-top: 5px;
    font-size: 18px;
    
}

nav .blog-nav ul {
    padding: 0;
}

.blog-nav ul li {
    display: inline-block;
    padding: 5px 30px;
    
}

.blog-nav ul li a{
    color: #fff;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  font-weight: 500;
  color: #fff; 
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: underline;
}

.nav > li > a:focus, .nav > li > a:hover {
    color: #D3211B;
    text-decoration: underline;
    background-color: #002856;
}




/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
    margin: 0 30px;
}
/*

.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}
*/

/*
 * Blog name and description
 */

.blog-header {
    margin:0 auto 50px;
  padding:0;
    
}

.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}

.blog-description {
  font-size: 18px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.shield {
    float: left;
    width: 30%;
    margin: 50px 5% 0 12.5% ;
    padding: 0;
    display: inline-block;
}

.sections {
    display: inline-block;
    width: 40%;
    height: auto;
    margin: 80px 0 0 0;
}

.subSecs {
    width: 80%;
    margin-top: 50px;
}

.subSecs a:hover {
    color: #8B8B8B;
} 

.subSecs h2 {
    color: #D3211B;
    font-size:28px;
    font-weight: 600;
}

.subSecs p {
    font-size: 18px;
    color: #002856;
}


/*
.sections h2 {
    display: inline-block;
    margin-top: 25px;
    width: 40%;
}


*/


/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
    margin: 110px 0 0 0;
    bottom: 0;
    position: relative;
    width: 100%;
  height: 60px;
  color: #999;
  text-align: center;
  background-color: #002856;
  border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-top: 20px;
    color: #fff;
}

.blog-footer a {
    color: #fff;
}

.template-description {
    width: 100%;
}

.template-description h2 {
    width: 100%;
    margin: 25px auto 25px;
    text-align: center;
    font-size: 32px;
    color: #002856; 
}





.currentSeasonalWrapper {
    margin: 50px auto 150px;
    height: 300px;
}

.currentSeasonal h3{
    margin: 0 auto;
    color: #D3211B;
    
}

.currentSeasonal p {
    font-size: 18px;
    margin-top: 15px;
}

.seasonalImage{
    border: 4px solid #002856;
}

.outOfSeasonals {
    margin-bottom: 250px;
}

.samMeTitle h4 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 75px;
}

.samMeMain {
    margin-bottom: 50px;
}

.samMeMain img {
    border: 4px solid #002856;
}

.samMeMain p {
    font-size: 18px;
    margin-top: 15px;
}

.samMeSub {
    margin: 25px 0 25px 15px;
}

.samMeSub img {
     border: 4px solid #002856;
}

.samMeSub p {
    font-size: 16px;
}

.currentFavorite h3 {
    margin: 0 auto;
    color: #D3211B;
}

.currentFavorite p {
    font-size: 18px;
    margin-top: 15px;
}